body{
    margin: 0;
}
nav{
    background: rgb(50, 50, 50);
    padding:  5px;    
}
ul>li{
    display: inline;
    margin: 10px;
}
ul{
    margin: 0;
    padding: 5px;
}
a{
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: large;
}
a:active{
    background: white;
    color: blue;
}

a:hover{
    background: grey
}


